{% extends "questions/base.html" %}


{% block content %}
<div class="container-fluid border-bottom mb-2">
    <h2 class="m-0" style="font-family: Permanent Marker;">New question</h2>
</div>
<form class="mx-5 mt-4" action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="Title">Title</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="Text">Text</label>
        {{ form.content }}
    </div>
    <div class="form-group">
        <label for="Tags">Tags</label>
        {{ form.tags }}
    </div>
    <button type="submit" class="btn btn-primary">ASK!</button>
</form>
{% endblock %}